<h1> View Link </h1>
<a href="/links">View Links</a>
<table class="table table-striped">
	<thead>
       <tr>
       	  <th>Title</th>
       	  <th>Url</th>
       </tr>
	</thead>
	<tbody>
		
		<tr>
			<td><%= @link.title %></td>
			<td><%= link_to @link.url,@link.url, :target => "_blank" %></td>
		</tr>
		
	</tbody>

	
</table>


